<li>
    {{name}}

    {{#if devoured}}
    <button class="change-dev" data-id="{{id}}" data-newDev="{{devoured}}">EAT IT!</button>
    {{else}}
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
    {{/if}}

</li>